:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #231F20;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
}

body::-webkit-scrollbar, #locations::-webkit-scrollbar {
  display: none;
}

section {
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

nav * {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  background-color: #425563;
}

.primary {
  background-color: #564761;
}

.menu, button {
  grid-column: span 2;
  align-self: flex-start;
  justify-self: center;
  border: 1px solid white;
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
}

button {
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
}

#pokedex-container {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  justify-content: center;
}

.card {
  background-color: #425563;
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 4px;
}

.sprite {
  background-color: #E8EDEE;
}

.type-container {
  display: flex;
  gap: 0.4rem;
  font-size: 0.7rem;
}

.type {
  background-color: #303846;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

#pokemon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: calc(100vh - 2rem);
  padding: 1rem;
}

#location-container {
  overflow: hidden;
}

#locations {
  overflow-y: scroll;
  height: 100%;

}

#locations p {
  background-color: #303846;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid #425563;
}

@media (min-width: 1200px){
  #pokedex-container {
    grid-template-columns: repeat(10, min-content);
  }
}

@media (max-width: 600px){
  #pokedex-container {
    grid-template-columns: repeat(3, min-content);
  }
}